.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#components-layout-demo-side .logo {
  height: 32px;
  background-image: linear-gradient(to right, #071429, #00293e, #003c40, #004e2f, #455b14);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
.ant-card-cover {
  padding: 1px 53px;
  margin-top: 66px;
}

.ant-card.ant-card-bordered.ant-card-hoverable {
  margin: 5px 10px;
}
/* img {
  width: 150px;
  height: 150px;
} */
